[Unit]
Description=Druid Realtime

[Service]
User=druid
Group=druid
EnvironmentFile=/etc/sysconfig/druid_realtime
ExecStart=/usr/lib/redborder/bin/rb_druid_start.sh -c realtime
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
