[Unit]
Description=Druid Coordinator

[Service]
User=druid
Group=druid
EnvironmentFile=/etc/sysconfig/druid_coordinator
ExecStart=/usr/lib/redborder/bin/rb_druid_start.sh -c coordinator

[Install]
WantedBy=multi-user.target
